<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <responsive-child>

      <main class="interactive">

        <h1>60 days at Ground Zero Of the COVID-19 outbreak</h1>
        <div class="chatter">
          After announcing the nation’s first case of COVID-19, health officials assured the public that there was little to fear. Behind the scenes, they grappled with looming supply shortages as the virus spread undetected. The following are selected events from the first 60 days of the response to COVID-19.
        </div>
        
        <div class= "flex-grid header mobile-invisible">
          <div class="col-header date">Date</div>
          <div class="col-header infect">COVID-19 infection</div>
          <div class="col-header message">Public messaging</div>
          <div class="col-header action">Actions</div>
        </div>

        <div class= "flex-grid shootings collapsed">
          
        <%
        var rows = json.timeline;
        %>

        <%
        rows.forEach(function(row) {
        %>
          <div class="flex-grid-row">
            <div class="col date">
              <%= row.date %>
            </div>

            <!-- <div class="week">
              <%= row.week %>
            </div> -->

            <% if (row.infection) { %>                
              <div class="col infect" style="border-top: 3px solid #690016;">
                <div class="mobile-visible">
                  <b style="color: #690016;">COVID-19 infection:</b>
                </div>
            <% } else { %>
              <div class="col infect">
            <% } %>

            <% if (row.infection_url) { %>
              <a href="<%= row.infection_url %>" target="_blank">
            <% } %>
              <%= row.infection %>
            <% if (row.infection_url) { %>
              </a>
            <% } %>

            <% if (row.infection2) { %>                
            <% } %>

            <% if (row.infection2_url) { %>
              <a href="<%= row.infection2_url %>" target="_blank">
            <% } %>
              <p><%= row.infection2 %></p>
            <% if (row.infection2_url) { %>
              </a>
            <% } %>
            </div>

              <% if (row.messaging) { %>
                <div class="col message" style="border-top: 3px solid #006849;">
                  <div class="mobile-visible">
                    <b style="color: #006849;">Public messaging:</b>
                  </div>
                  <% } else { %>
                    <div class="col message">
              <% } %>

              <% if (row.messaging_url) { %>
                <a href="<%= row.messaging_url %>" target="_blank">
              <% } %>
                <%= row.messaging %>
              <% if (row.messaging_url) { %>
                </a>
              <% } %>
            </div>

              <% if (row.action) { %>
                <div class="col action" style="border-top: 3px solid #007fa4;">
                  <div class="mobile-visible">
                    <b style="color: #007fa4;">Action:</b>
                  </div>
                  <% } else { %>
                    <div class="col action">
              <% } %>

              <% if (row.action_url) { %>
                <a href="<%= row.action_url %>" target="_blank">
              <% } %>
                <%= row.action %>
              <% if (row.action_url) { %>
                </a>
              <% } %>

              <% if (row.action2) { %>                
                <% } %>
    
                <% if (row.action2_url) { %>
                  <a href="<%= row.action2_url %>" target="_blank">
                <% } %>
                  <p><%= row.action2 %></p>
                <% if (row.action2_url) { %>
                  </a>
                <% } %>
            </div>

          
          </div>
        <% }) %>
        

        <button id="uncollapseButton">Show more</button>
      </div>
      <div class="flex-grid">
        <div class="source">
          <div>
            <p>Sources: state Department of Health, Seattle Times reporting</p>
          </div>
        </div>
        <div class="credit">
          Design and development: Emily M. Eng
          <br>Research and reporting: Daniel Gilbert and David Gutman</p>
        </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
